body.disabledScroll{
    overflow: hidden;
}

body.enableScroll{
    overflow: scroll;
}

/* ---------- contenedor header ---------- */

.topheader{
    position: fixed;
    z-index: 99999;
    background-color: var(--theme-color-black);
    left: 0;
    top: 0;
    width: 100%;
}

/* ---------- contenedor nav ---------- */

.topnav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 1720px;
    margin: 0 auto;
}

.space-header{
    position: relative;
    display: flex;
    z-index: 9999;
}

/* ---------- Logo ---------- */

.logo-container{
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
    color: var(--primary-color);
}

.logo img{
    height: 70px;
    width: 72px;
}

.logo p{
    margin: 0 7px;
}

/* ---------- Header info ---------- */

.header-info{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.header-info li{
    display: flex;
    padding: 0 15px;
    align-items: center;
}

.header-info p{
    font-size: 16px;
}

.header-info img{
    margin: 0 15px;
}

.header-info__phone{
    width: 28px;
    height: 28px;
}

.header-info__email{
    width: 35px;
    height: 22px;
}

.header-info__location{
    width: 20px;
    height: 29px;
}


/* ---------- Menu (PRUEBA) ---------- */

.menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li{
    padding: 0 15px;
}

.menu a{
    color: var(--title-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 70px;
    text-transform: uppercase;
}

/* ---------- Underline  ---------- */

.line{
    display: block;
    position: relative;
}

.line:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    background: #141414;
}

.line-center::after{
    transform: scale(0, 1);
    transition: transform .3s ease;
}

.line-center:hover::after{
    transform: scale(1, 1);
}

/* ---------- Botón  ---------- */

.open-menu,
.close-menu{
    border: none;
    background: none;
    margin-left: 25px;
    cursor: pointer;
}


.close-menu img{
    width: 45px;
    margin-top: 6px;
    margin-right: 2px;
}

/* ---------- Menu abierto---------- */
.menu-container{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    left: -100%;
    top: 0;
    max-width: 400px;
    width: 100%;
    height: 100vh;
    align-items: center;
    overflow-y: auto;
    transition: all .5s ease;
}

.menu-container.active{
    left: 0;
}

.menu li{
    padding: 0;
}

.menu a{
    color: #000;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
}


.open-menu,
.close-menu{
    border: none;
    background: none;
    cursor: pointer;
}

.close-menu{
    align-self: flex-end;
    padding: 15px;
}

/* ---------- Social ---------- */

.social{
    display: flex;
    margin-top: 40px;
    width: 80px;
    justify-content: space-between;
}

.btn-icon{
    border: none;
    background: none;
    cursor: pointer;
}

@media (max-width: 1100px){
    /* ---------- Menu ---------- */
    .logo{
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: 400;
        color: var(--primary-color);
    }

    .logo img{
        height: 50px;
        width: 50px;
    }

    /* ---------- Header info ---------- */
    .header-info{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        align-items: center;
    }
    .header-info li{
        display: flex;
        padding: 0 10px;
        align-items: center;
    }

    .header-info p{
        font-size: 14px;
    }

    .header-info img{
        margin: 0 10px;
    }

    .header-info__phone{
        width: 20px;
        height: 20px;
    }

    .header-info__email{
        width: 30px;
        height: 17px;
    }

    .header-info__location{
        width: 18px;
        height: 22px;
    }

    /* ---------- Menu ---------- */

    .menu{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .menu li{
        padding: 0 15px;
    }

    .menu a{
        color: #000;
        font-size: 30px;
        font-weight: 500;
        line-height: 70px;
        text-transform: uppercase;
    }

    .close-menu{
        padding: 10px 15px;
    }
}

@media (max-width: 900px){
    .header-info{
        display: none;
    }
}
